#mainnav {
    position: fixed;
    min-width: 170px;
    max-width: 18%;
    height: 100%;
    display: block;
    overflow: auto;
    white-space: nowrap;
}

#menu {
    display: block;
}

img {
    width: 100%;
}

.menu-item {
    margin-left: 10%;
}

#open {
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
    position: sticky;

}

#openh1 {
    margin-top: 5pt;
    text-align: center;
}

#openh2 {
    word-wrap: break-word;
    padding-left: 30px;
    padding-right: 30px;
}

#content {
    overflow-y: hidden;
}

form {
    overflow: hidden;
}

#rostable {
    max-height: 90%;
    overflow: hidden;
}

#header > tr > th {
    background-color: #EC4D0F;
}

#roscore, #roslaunch, #restart_button {
    margin-top: 30px;
}

#upload {
    width: 100%;
}

#logo {
    margin-top: 5pt;
}

#param_menu {
    margin-top: 5pt;
    margin-bottom: 5pt;
}

#param_menu > button {
    margin-right: 10pt;
}